{% extends 'base.html' %}

{% block title %}Home - GTech Automation{% endblock %}
{% block content %}

<section class="hero-section">
  <img src="{{ url_for('static', filename='images/automation_banner.jpg') }}" class="hero-image" alt="Industrial Automation Banner">
  <div class="hero-text">
    <h1>Smart Automation for Smarter Industries</h1>
    <p>We provide end-to-end industrial automation solutions<br> to boost your business performance.</p>
  </div>
</section>

<section class="features">
  <div class="feature-card">
    <img src="{{ url_for('static', filename='images/plc_training.jpg') }}" alt="PLC and SCADA Solutions">
    <h3> <a href="/plc_scada">PLC & SCADA Soutions </a> </h3>
    <p>we specialize in delivering end-to-end , efficiency, reliability, and innovation, we empower industries to automate, monitor, and optimize their processes in real-time.</p>
  </div>
  <div class="feature-card">
    <img src="{{ url_for('static', filename='images/hmi_screen.jpg') }}" alt="HMI Interface">
    <h3> <a href="/hmi_vfd" >  HMI & VFD Solutions </a> </h3>
    <p>Custom-designed HMI and VFD systems for efficient plant operations.</p>
  </div>
  <div class="feature-card">
    <img src="{{ url_for('static', filename='images/industrial_networking.jpg') }}" alt="Industrial trainings">
    <h3> <a href="/training" >Industrial trainings </a></h3>
    <p>.Hands-on training on real-time PLC & SCADA systems with expert guidance</p>
  </div>
</section>
{% endblock %}