{% extends "base.html" %}
{% block title %}Our Products{% endblock %}
{% block content %}
<h2>🛠️ Products We Offer</h2>
<ul class="list-group mt-3">
  <li class="list-group-item">PLC Units (Siemens, Delta, Allen Bradley)</li>
  <li class="list-group-item">HMI Screens</li>
  <li class="list-group-item">SCADA Software Licenses</li>
  <li class="list-group-item">VFD Drives (ABB, Schneider, Delta)</li>
  <li class="list-group-item">Electrical Components: Relays, Timers, Contactors</li>
</ul>
<p class="mt-3">Contact us for the best industrial automation solutions!</p>
{% endblock %}