{% extends "base.html" %}
{% block title %}Our Services{% endblock %}
{% block content %}
<h2>🔧 Our Automation Services</h2>
<ul class="list-group mt-3">
  <li class="list-group-item">PLC Programming (Siemens, Allen Bradley, Delta)</li>
  <li class="list-group-item">SCADA Design (Wonderware, Ignition, FactoryTalk)</li>
  <li class="list-group-item">HMI Configuration (Weintek, Schneider, Delta)</li>
  <li class="list-group-item">VFD & Servo Drive Setup (ABB, Mitsubishi, Delta)</li>
  <li class="list-group-item">Control Panel Design & Wiring</li>
  <li class="list-group-item">Industrial Automation Maintenance</li>
</ul>
{% endblock %}